fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}



html, body{
  height: 100%;
}


body{
  position: relative;
  font-family: sans-serif;
  color: black;
  background-color: #fff8dc;
  transition: background-color .5s ease;
  margin-top: 0.5px;
}

h1 {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7em;
  vertical-align: middle;
}

.wrapper {
  display: block;
  width: 850px;
  margin: 0 auto;
}

header {
  display: block;
  padding-bottom: 2px;
  margin-left: 185px;
}

.container {
  width: 400px;
  margin: 0 258px auto;
  position: relative;
}

.textual {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.option,
.socket {
  display: inline-block;
  border-radius: 50%;
  background-color: #deb887;
}

#guesses {
  display: inline-block;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  border-radius: 20px 20px 0px 0px;
  padding: 15px 40px;
  font-size: 0;
  box-shadow: 8px 13px 5px gray;
}

.guess { margin-top: 15px; }

.option,
.answer .socket,
.guess .socket {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.answer .socket,
.guess .socket{ margin-left: 10px; }

.answer {
  border-bottom: 2px solid #c7bf8d;
  padding-bottom: 15px;
}

.socket {
  color: #6e260e;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
  box-shadow: 3px 3px 5px black inset;
}


.socket.peg {
  -webkit-animation: bounceIn .4s;
  -o-animation: bounceIn .4s;
  animation: bounceIn .4s;
}

/*-------Pegs-------*/
#pegs {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  border-radius: 0px 20px 0px 0px;
  font-size: 0;
  margin-left: 0px;
  box-shadow: 8px 13px 5px gray;
}

.peg {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.peg .row { height: 10px; }
.peg .row + .row { margin-top: 5px; }

.peg .socket {
  width: 10px;
  height: 10px;
  
}

.peg .socket { 
  margin-left: 5px;
  margin-top: 5.5px
}

.peg + .peg { margin-top: 15px; }
.hit { background-color: #000; }
.almost { background-color: #fff; }

#options {
  margin-left: 258px;
  padding-top: 10px;
  padding-right: 4.5px;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px;
  width: 346px;
  display: block;
  text-align: center;
  font-size: 0;
  box-shadow: 8px 8px 5px gray;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
}

#options button + button {
  margin-left: 10px;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #fff8dc;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.button:active {  
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#delete {
  font-size: 21px;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000;
  border: #000;

}

#delete:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 0px #000;
  transform: translateY(4px);
}

.red {
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #fe4a49, #000);
}
.green {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #6a994e, #000);
}

.blue {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #3a86ff, #000);
}

.yellow {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #ffb30b, #000);
}

.orange{background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #fb5607, #000);
}

.purple{background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #8338ec, #000);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 800;
  color: #fff8dc;
  background-color: #fff8dc;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.collapsible:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.option{
  box-shadow: none;
}
