.body{
  position: relative;
  font-family: sans-serif;
  color: black;
  background-color: #fff8dc;
  transition: background-color .5s ease;
  width: 100%;
  height: 90%;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover color of the thumb */
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* Color of the corner where horizontal and vertical scrollbars meet */
}

body.dark-theme {
  background: linear-gradient(-90deg, #3f3f3f, #000000, #3f3f3f);
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: #ffffff;
}

#speechButton {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000;
  border: #000;
  display: block;
  margin: auto;
}

#themeToggleButton {
  border: none;
  border-radius: 5px;
  position: absolute;
    top: 10px;
    right: 10px;
}


#backgroundMusic {
  display: none;
}

.audio {
  position: absolute;
  padding-top: 15px;
  padding-left: 26px;
}


b{
  font-size: 35px;
  margin-top: 0px;
}


button {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #fff8dc;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  vertical-align: middle;
  cursor: pointer;

  /* box-shadow: 0 3px #999;

  box-shadow: 0 3px #000; */

}

.row {
  --bs-gutter-x: 0 !important;
}

.row.vertical-divider {
  overflow: hidden;
  padding-top: 30px;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -80px;
  border-left: 3px solid black;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.button:active {  
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.content {
  height: 100%;
  background-color: #fff8dc;
  border-radius: 20px;
}

.container {
  width: 400px;
  position: relative;
  padding-top: 25px;
  padding-top: 2px;
  margin-bottom: 10px;
}

h1{
  margin-bottom: 0px;

}

.option,
.socket {
  display: inline-block;
  border-radius: 50%;
  background-color: #deb887;
}

.row>* {
  padding-right: 0!important;
  padding-left: 0!important;
}

#guesses {
  display: inline-block;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  border-radius: 20px 20px 0px 0px;
  padding: 15px 40px;
  font-size: 0;
  box-shadow: 8px 13px 5px gray;
  margin-left: auto;
}

.guess { margin-top: 15px; }

.option,
.answer .socket,
.guess .socket {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.answer .socket,
.guess .socket{ 
  margin-left: 10px; 
}

.answer {
  border-bottom: 2px solid #c7bf8d;
  padding-bottom: 15px;
}

.socket {
  color: #6e260e;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
  box-shadow: 3px 3px 5px black inset;
}

.js-hint-socket{
  box-shadow: 2px 2px 2px black inset;
}


.socket.peg {
  -webkit-animation: bounceIn .4s;
  -o-animation: bounceIn .4s;
  animation: bounceIn .4s;
}

/*-------Pegs-------*/
#pegs {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  border-radius: 0px 20px 0px 0px;
  font-size: 0;
  margin-left: 0px;
  box-shadow: 8px 13px 5px gray;
  margin-right: auto;
  margin-top: auto;
}

.peg {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

.peg .row { height: 10px; }
.peg .row + .row { margin-top: 5px; }

.peg .socket {
  width: 10px;
  height: 10px;
  
}

.peg .socket { 
  margin-left: 5px;
  margin-top: 5.5px
}

/* .peg + .peg { margin-top: 15px; } */
.hit { background: radial-gradient(circle at 4px 2px, #7e7e7e, #000);; 
  box-shadow: none;}
.almost { background: radial-gradient(circle at 4px 2px, #fff, #000);; 
box-shadow: none;}

#options {
  padding-top: 10px;
  padding-right: 4.5px;
  padding-bottom: 25px;
  padding-bottom: 10px;
  border-radius: 0 0 20px 20px;
  width: 350px;
  display: block;
  text-align: center;
  font-size: 0;
  box-shadow: 8px 8px 5px gray;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
}

#options button + button {
  margin-left: 10px;
}



#delete {
  font-size: 21px;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000;
  border: #000;
  width: 75%;
  width: 125px;
  display: inline;
  margin: 0px 0px 0px 0px;
}

#restartGame{
  font-size: 21px;
  background-image: url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #000;
  border: #000;
  width: 125px;
  display: inline;
  margin: 10px;
}

#restartGame:active{
  background-color: #3e8e41;
  box-shadow: 0px 0px 0px #000;
  transform: translateY(4px);
}

#delete:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 0px #000;
  transform: translateY(4px);
}

.red {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #fe4a49, #000);
  box-shadow: none;
}

.blue {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #3a86ff, #000);
  box-shadow: none;
}

.green {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #6a994e, #000);
  box-shadow: none;
}

.yellow {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #ffb30b, #000);
  box-shadow: none;
}

.orange{background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #fb5607, #000);
  box-shadow: none;
}

.purple {background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 13px 18px, #8338ec, #000);
  box-shadow: none;
}

/*-----modal popup-----*/
#modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 100%;
  height: 90%;
  z-index: 2000;
  opacity: 1;
  border-radius: 2px;
  padding: 15px 20px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#analyticsBoardGuess {
  padding-left: 10px;
  padding-top: 25px;
  max-height: max-content;
  display: none;
}

#analyticsBoardExplaination {
  border: 3px;
  padding: 20px;
  max-width: 100%;
}

.analytics_container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  
}

.analyticsBoardGuess_colour {
  display: block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  float: left;
}

.analyticsBoardGuess_peg {
  border-style: solid;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.analyticsBoardGuess_pegtut {
  border-style: solid;
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.analytics_legend {
  padding-top: 10px;
}

#modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: all .3s ease;
}

#modalOverlay.hidden {
  visibility: hidden;
}

#modalOverlay.won {
  background-color: rgba(143, 190, 0, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.won #modalMessage {
  background-color: #8FBE00;
  border: 5px solid #fff;
}

#modalOverlay.lost {
  background-color: #000;
  visibility: visible;
  opacity: 1;
}

.won {
  background-color: #fff8dc;
}

.lost {
  background-color: #fff8dc;
  color: #fff;
}

#confettiContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4001; /* Adjust this value to be higher than modal and overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gifPlayer {
  width: 100%; /* Adjust the width to your preference */
  max-width: 100%; /* Ensure the video doesn't exceed its natural size */
  height: auto; /* Maintain the aspect ratio */
}

.buttonContainer {
    margin-top: 20px; /* Adjust the margin based on your design preference */
}

#hideModal,
#restartGame1 {
    margin-top: 10px; /* Adjust the margin based on your design preference */
}

#modalOverlay.won {
  background-color: rgba(143, 190, 0, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.won #modalMessage {
  background-color: #8FBE00;
  border: 5px solid #fff;
}

#modalOverlay.lost {
  background-color: #000;
  visibility: visible;
  opacity: 1;
}

.won {
  background-color: #fff8dc;
}

.lost {
  background-color: #fff8dc;
}

@media only screen and (max-width: 1151px) {
  .vertical-divider {
    flex-direction: column;
  }

  .row.vertical-divider > div[class^="col-"]:not(:last-child) {
    border-left: none;
  }

  .row.vertical-divider > div[class^="col-"] {
    border-left: none;
  }

  .col-3,
  .col-5 {
    width: 95%!important;
    margin: 0!important;
    padding: 0!important;
    margin-top: 10px!important;
  }

  .analytics_container {
    margin-left: auto!important;
    margin-right: auto!important;
  }

  b {
    font-size: 25px;
  }

  .audio {
    margin-top: 40px;
  }

 #themeToggleButton {
    margin-top: 40px;
  }

  #speechButton {
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .mx-4 {
      margin-left: 0.5rem !important;
  }
}

@media (max-width: 401px) {
  .container {
    padding-left: 0!important;
    padding-right: 0!important;
    
  }
}

#confetti {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
}

.won {
  background-color: #fff8dc;
}

.lost {
  background-color: #fff8dc;
  color: #fff;
}

.content{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://media.istockphoto.com/id/484096068/photo/wooden-texture-background.webp?b=1&s=170667a&w=0&k=20&c=RWLEm-1NkqPzEgrX0zRid7WHtclBQBmI4RQZlouc02g=);
  background-size: cover; 
  color: #fff8dc;
  box-shadow: 8px 8px 5px gray;
  padding-bottom: 10px;
}


.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 1;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}

.stem {
  width: 1px;
  height: 100%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.844));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}



body.single-toggle .drop {
  display: none;
}

body.single-toggle .drop:nth-child(10) {
  display: block;
}

.stimpy{
  height: 300px;
}

.large{
  border-radius: 5px;
  background-color: blue;
  background-image: none;
}

.large1{
  border-radius: 5px;
  background-color: red;
  background-image: none;
}

.board {
  display: flex;
  margin: auto;
}

#metalGear{
  max-width: 465px;
  height: auto;
}
@media only screen and (max-width: 499px) {
  #metalGear {
    width: 100%; /* Set the image width to 100% on screens with a width of 499px or less */
  }
}

